body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  background: #000;
  font-family: 'Lato', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

ul,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.main-wrapper {
  width: 100%;
  max-width: 500px;
  height: 100%;
  background: #fff;
  margin: auto;
}

/* =====slider==== */
.slide-block {
  width: 100%;
  position: relative;
  height: 250px;
}

.slide-block img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/* ====social_link===== */
.social-outer {
  margin: 20px 0;
}

.social-item .item .icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #85a833;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  margin-right: 16px;
}

.social-item .item .text {
  font-size: 14px;
  line-height: 20px;
}

/* =======term and condition======= */
.term-outer {
  padding: 20px 0;
}

.section-title {
  position: relative;
}

.section-title .flag-discount {
  border-radius: 6px 0 0 6px;
  color: #fff;
  display: block;
  padding: 10px 20px;
  background: #85a833;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.term-outer .term-inner .term-content ol li {
  font-size: 14px;
  margin-bottom: 8px;
  list-style: disc;
}

.social-outer .social-inner .social-icon ul li img {
  width: 30px;
  height: 30px;
}

/* ==============Farm card======================= */
.farm-outer {
  margin: 20px 0;
}

.farm-outer .farm-item .item {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
}

.main-wrapper .farm-item {
  padding: 20px 0;
}

.farm-item .item {
  margin-bottom: 30px;
}

@media(max-width:500px) {
  .farm-outer .farm-item .item {
    width: 100%;
  }

  .farm-item .item {
    margin-bottom: 25px;
  }
}

.farm-outer .farm-item .item .item-inner {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  padding: 14px;
  border-radius: 6px;
  margin: 0 6px;
}

.farm-outer .farm-item a {
  display: block;
  width: 100%;
}

.farm-item .item .item-inner .image-block {
  position: relative;
  overflow: hidden;
}

.farm-item .item .item-inner .image-block img {
  width: 100%;
  height: 280px;
  border-radius: 6px;
  object-fit: cover;

}

.farm-item .item .item-inner .image-block:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  object-fit: cover;
}

.farm-item .item {
  margin-bottom: 30px;
}

.farm-item .item .item-inner .farm-button .location i {
  font-size: 18px;
  color: #85a833;
  background: #e4f1ec;
  line-height: 30px;
  border-radius: 50%;
  width: 30px;
  margin-right: 6px;
  text-align: center;
  border-radius: 4px;
  height: 30px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.farm-item .item .item-inner .farm-button .booknow,
.farm-item .item .item-inner .farm-button .location {
  color: #85a833;
  background: #e4f1ec;
  cursor: pointer;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.farm-item .item .item-inner .farm-button .booknow i {
  margin-right: 6px;
}

.main-wrapper .farm-item .farm-name{
  font-style: 14px;
  font-weight: 500;
  line-height: 30px;
  margin:8px 0;
  color: #85a833!important;
}

.main-wrapper .farm-item .farm-name span {
  font-style: 14px;
  margin-left: 10px;
  font-weight: 500; 
color: rgb(208, 111, 111)!important;
}